html {
  font-family: "Montserrat";
}

h1, a, ul, li, img {
  margin: 0;
  padding : 0;
  text-decoration: none;
  left: 0;
  top: 0;
}

a {
  color: #ffffff;
}

body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

.Header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px; 
}

.Header__menu {
  display: none;
  font-size: 20px;
}

@media (min-width: 410px) {
  .Header-nav {
    display: flex !important;
  }
}

@media screen and (max-width: 410px) {
  .Header-nav {
    display: none;
    flex-direction: column;
    background-color: #838383;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 20px;
    width: 50%;
    height: 40%;
    z-index: 3;
    border: 1px solid;
  }
  
  .Header-nav__item {
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .Header__menu {
    display: block;
    cursor: pointer;
  }
}

.Header-nav__item {
  padding: 0px 15px;
  font-size: 16px; 
  color: #141414;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

.Header-nav__item:hover {
  color: #40d4cf;
}

.Text {
  text-align: center;
  padding: 30px 5px;
}

.Text__title {
  font-weight: 900;
  font-size: 30px;
  padding: 10px;
}

.Text__description {
  font-weight: 100;
  max-width: 70%;
  margin: 0 auto;
  color: #838383;
  font-size: 13px;
}

@media screen and (max-width: 450px) {
  .Text__title {
    font-size: 18px;
  }

  .Text__description {
    font-size: 9px;
  }
}

.Work-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Work-row-item {
  position: relative;
  flex: 1 1 25%;
  width: 25vw;
  height: 25vw;
  background-color: #f6f6f6;
}

.Work-row > :nth-child(odd) {
  background-color: #838383;
}

.Work-row--reverse > :nth-child(even) {
  background-color: #838383;
}

.Work-row--reverse > :nth-child(odd) {
  background-color: #f6f6f6;
}

.Work-row-item:hover {
  background-color: #21bfb9;
  cursor: pointer;
  .Work-row-item__eye {
    display: block;
  }
}

.Work-row-item__eye {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

.Footer {
  display: flex;
  background-color: #141414;
  color: #ffffff;
  padding: 30px;
}

.Footer-copyright {
  width: 35%;
}

.Footer-copyright__company {
  font-size: 13px;
}

.Footer-copyright__design {
  font-size: 11px;
}

.Footer-contact {
  width: 25%;
}

.Footer-contact-group {
  list-style: none;
}

.Footer-contact-group-item {
  font-size: 11px;
}

.Footer-contact-group-item__link:hover {
  text-decoration: underline;
  color: rgb(88, 88, 255);
}

.Footer-work {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.Footer-work-group {
  list-style: none;
}

.Footer-work-group-item {
  font-size: 11px;
}

.Footer-work-group-item__link:hover {
  text-decoration: underline;
  color: rgb(88, 88, 255);
}

.Footer-info {
  width: 15%;
}

.Footer-info-group {
  list-style: none;
}

.Footer-info-group-item {
  font-size: 11px;
}

@media screen and (max-width: 600px) {
  .Footer-copyright__company {
    font-size: 10px;
  }
  
  .Footer-copyright__design {
    font-size: 10px;
  }
  
  .Footer-contact-group-item__link {
    font-size: 8px;
  }
  
  .Footer-work-group-item__link {
    font-size: 8px;
  }
}

@media screen and (max-width: 450px) {
  .Footer-copyright__company {
    font-size: 8px;
  }
  
  .Footer-copyright__design {
    font-size: 8px;
  }
  
  .Footer-contact-group-item__link {
    font-size: 5px;
  }
  
  .Footer-work-group-item__link {
    font-size: 5px;
  }
}

.Work-modal {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vw;
  z-index: 1000;
  border-radius: 10px;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Work-modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}
